<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>
    <!-- Main -->
    <div class="flex flex-auto p-6 sm:p-10">
        <div class="flex flex-col flex-auto w-full max-w-xs sm:max-w-5xl mx-auto">
            <!-- Filters -->
            <div class="flex flex-col sm:flex-row items-center justify-between w-full max-w-xs sm:max-w-none">
                <mat-form-field
                    class="fuse-mat-no-subscript w-full sm:w-72 mt-4 sm:mt-0 sm:ml-4"
                    [floatLabel]="'always'">
                    <mat-icon
                        matPrefix
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:search'"></mat-icon>
                    <input
                    [(ngModel)]="searchTerm" (input)="searchProjet(searchTerm)"
                        placeholder="Recherche"
                        matInput
                        #query>
                    </mat-form-field>
                    <!-- <ul>
                        //<li *ngFor="let projet of filteredProjets">
                          {{ projet.nom_projet }} - {{ projet.client }} - {{ projet.description }} 
                        </li>
                    </ul> -->
                <mat-slide-toggle
                    class="mt-8 sm:mt-0 sm:ml-auto"
                    [color]="'primary'"
                    (change)="toggleCompleted($event)">
                    Masquer terminé
                </mat-slide-toggle>
            </div>

            <!-- Courses -->
            <ng-container>
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-8 sm:mt-10">
                    <ng-container *ngFor="let project of projet; trackBy: trackByFn">
                        <!-- Course -->
                        <div class="flex flex-col h-96 shadow rounded-2xl overflow-hidden "
                            [ngClass]="{
                                'bg-gray-200':changebackgroundProject===project._id,
                                'bg-white':changebackgroundProject!==project._id
                            }"
                            >
                                <div class="flex flex-col p-6">
                                    <div class="flex items-center justify-between">
                                            <div class="py-0.5 px-3 rounded-full text-sm font-semibold">
                                                {{project.client}}
                                            </div>
                                    </div>
                                    <!-- Course title & description -->
                                    <div class="mt-4 text-lg font-medium">{{project.nom_projet}}</div>
                                    <div class="mt-0.5 line-clamp-2 text-secondary">{{project.short_description}}</div>
                                    <div class="w-12 h-1 my-6 border-t-2"></div>
                                    <!-- Course time -->
                                    <div class="flex items-center leading-5 text-md text-secondary">
                                        <mat-icon
                                            class="icon-size-5 text-hint"
                                            [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                                        <div class="ml-1.5">{{project.begin}} -> {{project.end}}</div>
                                    </div>
                                    <!-- Course completion -->
                                    <div class="flex items-center mt-2 leading-5 text-md text-secondary">
                                        <mat-icon
                                            class="icon-size-5 text-hint"
                                            [svgIcon]="'location_on'"></mat-icon>
                                        <ng-container >
                                            <div class="ml-1.5">
                                                <span>{{project.code_postal}}</span>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <!-- Footer -->
                                <div class="flex flex-col w-full mt-auto">
                                    <div *ngIf="!(role==='technicien')" class="flex justify-between m-4" >
                                        <button type="button" class="btn btn-success" (click)="editProjet(project)" >modifier</button>
                                        <button type="button" class="btn btn-danger" (click)="supprimerProjet(project._id)" >supprimer</button>
                                        <!-- <button type="button" class="btn btn-success" (click)="afficherDetails(projet._id)" >modifier</button> -->
                                    </div> 
                                    
                                    <!-- <div class="progress mt-3">
                                        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" [style.width.%]="project.mean_pourcentage_axes" [attr.aria-valuenow]="project.mean_pourcentage_axes " aria-valuemin="0" aria-valuemax="100">
                                            {{ project.mean_pourcentage_axes  }}%
                                          </div>   
                                    </div>                                               
                                    <p>Mean Percentage: {{ project.mean_pourcentage_axes }}</p> -->

                                    <div class="px-6 py-4 text-right">
                                        <button
                                            mat-stroked-button
                                                routerLink="./{{project._id}}">
                                            <span class="inline-flex items-center">

                                                <ng-container >
                                                    <span>Voir plus</span>
                                                </ng-container>
                                                <mat-icon
                                                    class="ml-1.5 icon-size-5"
                                                    [svgIcon]="'heroicons_solid:arrow-sm-right'"></mat-icon>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                </div>
            </ng-container>
        </div>
    </div>
</div>

