<div class="flex flex-col flex-auto min-w-0"  style="  max-height: 100vh; overflow-y: auto; ">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            
            <!-- Title -->
            <div class="">
                <h2 class="text-xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Modifier projet 
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-2 sm:p-6">
        <fuse-alert
        class="mb-2"
        *ngIf="error && error===true"
        type="error"
        showIcon="true">
       please try again
    </fuse-alert>
        <div class="max-w-3xl" >
            <form [formGroup]="projetForm" class="flex flex-col mt-4 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden">
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field
                        [ngClass]="formFieldHelpers"
                        class="flex-auto gt-xs:pr-3">
                        <mat-label>Nom de projet</mat-label>
                        <input matInput [formControlName]="'nom_projet'">
                        <mat-icon
                            class="icon-size-5"
                            matSuffix
                            >home_work</mat-icon>
                    </mat-form-field>
                    <mat-form-field
                        [ngClass]="formFieldHelpers"
                        class="flex-auto gt-xs:pl-3">
                        <mat-label>Client</mat-label>
                        <input matInput [formControlName]="'client'">
                        <mat-icon
                            class="icon-size-5"
                            matSuffix
                            [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                    </mat-form-field>
                </div>
                <div class="flex">
                    <mat-form-field
                        [ngClass]="formFieldHelpers"
                        class="fuse-mat-textarea flex-auto">
                        <mat-label>brève description</mat-label>
                        <textarea matInput [formControlName]="'short_description'"></textarea>
                        <mat-icon
                            class="icon-size-5"
                            matSuffix
                            >description</mat-icon>
                    </mat-form-field>
                </div>
                <div class="flex">
                    <mat-form-field
                        [ngClass]="formFieldHelpers"
                        class="fuse-mat-textarea flex-auto">
                        <mat-label>Description</mat-label>
                        <textarea matInput [formControlName]="'description'"></textarea>
                        <mat-icon
                            class="icon-size-5"
                            matSuffix
                            >description</mat-icon>
                    </mat-form-field>
                </div>
                <div class="flex flex-col gt-md:flex-row">
                    <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto gt-md:pr-3">
                        <mat-label>Début</mat-label>
                        <input
                        matInput 
                        type="date"
                        [formControlName]="'begin'"
                        >
                        <!-- [matDatepicker]="beginPicker"
                        [min]="minDate" 
                        (dateChange)="onBeginDateSelect($event)" -->
                        <!-- <mat-datepicker-toggle matSuffix [for]="beginPicker"></mat-datepicker-toggle>
                        <mat-datepicker #beginPicker></mat-datepicker> -->
                      </mat-form-field>
                      
                      <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto gt-md:pl-3">
                        <mat-label>Fin</mat-label>
                        <input
                        matInput 
                        type="date"
                        [formControlName]="'end'"
                        >
                        <!-- [matDatepicker]="endPicker" 
                        [min]="selectedBeginDate" -->
                        <!-- <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                        <mat-datepicker #endPicker></mat-datepicker> -->
                      </mat-form-field>
                    <mat-form-field
                        [ngClass]="formFieldHelpers"
                        class="flex-auto gt-md:pl-3">
                        <mat-label>Utilisateur</mat-label>
                        <input 
                        matInput
                        [formControlName]="'user'"
                        >
                        <mat-icon
                            class="icon-size-5"
                            matSuffix
                            [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                    </mat-form-field>
                </div>
                <div class="flex">
                    <mat-form-field
                        [ngClass]="formFieldHelpers"
                        class="flex-auto">
                        <mat-label>Code Postal</mat-label>
                        <input
                            matInput
                            maxlength="4"
                            #postalCode
                            [formControlName]="'code_postal'"
                            >
                        <mat-hint align="end">{{postalCode.value.length}} / 4</mat-hint>
                        <mat-icon
                            class="icon-size-5"
                            matSuffix
                            [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                    </mat-form-field>
                </div>
                <div class="document">

                    <div >
                        <a  class="text-danger underlined bold p-3" *ngIf="contrat" href="contrat" alt="Image" target="_blank">Contrat</a>
                        <span class="text-primary bold p-3" *ngIf="!contrat">Veillez télécharger le contrat</span>
                        <!-- <a [href]="imageUrl" target="_blank">cv</a> -->
                      </div>
                </div>
                <div>
                    <form  (submit)="saveContrat()">
                      <input  type="file" #singleInput (change)="selectedContrat($event)" name="contrat" />
                      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">télécharger</button>
                    </form>
                
                
                  </div>
                
               
                <div class="flex items-center justify-end mt-6 ">
                    <button mat-stroked-button type="button"(click)="dialogRef.close(false)">annuler 
                        <mat-icon class="pl-4">cancel</mat-icon>
                    </button>
                    <button
                        class="ml-4 "
                        mat-flat-button
                        type="button"
                        [color]="'success'"
                        (click)="updateProjet()" >modifier <mat-icon class="pl-4" >edit</mat-icon>
                    </button>
                </div>
            </form>

           
        </div>

    </div>

</div>
