<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0 h-"
     style="height:500px;overflow: scroll;"
      >
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-12">
                <img src="assets/images/logo/logo.svg">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Sign up</div>
            <div *ngIf="data.mode == 'edit'" class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Modifier</div>


            <!-- Alert -->
            <fuse-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
              >
                {{alert.message}}
            </fuse-alert>

            <!-- Sign Up form -->

            <form
                class="mt-8"
                [formGroup]="signUpForm">

                <!-- Name field -->
                <mat-form-field class="w-full">
                    <mat-label>Firstname</mat-label>
                    <input
                        id="nom"
                        matInput
                        [formControlName]="'nom'">
                    <mat-error *ngIf="signUpForm.get('nom').hasError('required')">
                        Firstname is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Lastname</mat-label>
                    <input
                        id="prenom"
                        matInput
                        [formControlName]="'prenom'">
                    <mat-error *ngIf="signUpForm.get('prenom').hasError('required')">
                        Lastname is required
                    </mat-error>
                </mat-form-field>


                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Email address</mat-label>
                    <input
                        id="email"
                        matInput
                        [formControlName]="'email'">
                    <mat-error *ngIf="signUpForm.get('email').hasError('required')">
                        Email address is required
                    </mat-error>
                    <mat-error *ngIf="signUpForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Role</mat-label>
                    <mat-select
                    [value]="'TECHNICIEN'"
                    formControlName="role"
                    (selectionChange)="filterByCategory($event)">

                    <ng-container *ngFor="let state of roles ">
                        <mat-option [value]="state._id">{{state.name}}</mat-option>
                    </ng-container>
                </mat-select>
                    <mat-error *ngIf="signUpForm.get('role').hasError('required')">
                        Role is required
                    </mat-error>
                </mat-form-field>


                <!-- Password field -->
                <mat-form-field class="w-full" *ngIf="data.mode !== 'edit'">
                    <mat-label>Password</mat-label>
                    <input
                        id="password"
                        matInput
                        type="password"
                        [formControlName]="'password'"
                        #passwordField>
                    <button
                        mat-icon-button
                        type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <!-- Company field -->
                <mat-form-field class="w-full">
                    <mat-label>Cin</mat-label>
                    <input
                        id="company-confirm"
                        matInput
                        [formControlName]="'cin'">
                </mat-form-field>



                <!-- Submit button -->
                <button *ngIf="data.mode !== 'edit'"
                    class="fuse-mat-button-large w-full mt-6"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="signUpForm.disabled"
                    (click)="signUp()">
                    <span *ngIf="!signUpForm.disabled">
                        Create your free account
                    </span>
                    <mat-progress-spinner
                        *ngIf="signUpForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
                <button *ngIf="data.mode == 'edit'"
                    class="fuse-mat-button-large w-full mt-6"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="signUpForm.disabled"
                    (click)="modifierUser(users[2])">
                    <span *ngIf="!signUpForm.disabled">
                        Modifier
                    </span>
                    <mat-progress-spinner
                        *ngIf="signUpForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>


            </form>
        </div>

</div>
