<div class="container m-2">
  <button class="btn btn-primary " (click)="openDialogSignUP(null,roles)" >Ajouter un user</button>
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h2 class="text-2xl font-semibold"><i class="fas fa-user-tag mr-2"></i>Liste des users</h2>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users ; let i = index">
                    <td>{{user.nom}}</td>
                    <td>{{user.prenom}}</td>
                    <td>{{user.email}}</td>
                    <td>{{roles[i].name}}</td>
                    <td>
                        <button class="btn btn-sm btn-success" (click)="openDialogEdit('edit',user)">Editer</button>
                        <button class="btn btn-sm btn-danger" (click)="supprimerUser(user)">Supprimer</button>
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<iframe src="http://localhost:4000/d-solo/eU1o7Dy4k/projet?orgId=1&from=1683267950586&to=1683289550586&panelId=2" width="450" height="200" frameborder="0"></iframe>