<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    
    <div class="flex-auto p-6 sm:p-10">
        <div class="max-w-3xl">
            <form  [formGroup]="axeProject" (ngSubmit)="submit()" class="flex flex-col mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden">
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field
                        [ngClass]="formFieldHelpers"
                        class="flex-auto gt-xs:pr-3">
                        <mat-label>Nom :</mat-label>
                        <input matInput>
                        <mat-icon
                            class="icon-size-5"
                            matSuffix
                            >home_work</mat-icon>
                    </mat-form-field>
                    <!-- <mat-form-field
                        [ngClass]="formFieldHelpers"
                        class="w-full">
                        <mat-label>Projet associer</mat-label>
                        <input matInput>
                        <mat-icon
                            class="icon-size-5"
                            matSuffix
                            [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                    </mat-form-field> -->
                    <mat-form-field class=" flex-auto gt-xs:pl-3">
                        <mat-label>Projet associé</mat-label>
                        <mat-select
                        [ngClass]="formFieldHelpers"
                        [value]="'TECHNICIEN'"
                        formControlName="projet"
                        (selectionChange)="filterByCategory($event)">
                        <ng-container *ngFor="let projet of project; ">
                            <mat-option [value]="projet.id_projet">{{projet.nom_projet}}</mat-option>
                        </ng-container>
                    </mat-select>
                    </mat-form-field>
                </div>
               
                  
                <div class="flex items-center justify-end mt-6 ">
                    <button mat-stroked-button type="button">annuler 
                        <mat-icon class="pl-4">cancel</mat-icon>
                    </button>
                    <button
                        class="ml-4 "
                        mat-flat-button
                        type="submit"
                        [color]="'primary'">enregistrer <mat-icon class="pl-4" >save</mat-icon>
                    </button>
                </div>
            </form>

           
        </div>

    </div>

</div>
