<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <mat-drawer-container class="flex-auto h-full">    
        <mat-drawer
            class="w-90 dark:bg-gray-900"
            [autoFocus]="false"
            [mode]="drawerMode"
            [opened]="drawerOpened"
            #matDrawer
            >
            <div class="flex flex-col items-start p-8 border-b">
                <!-- Back to courses -->
                <a
                    class="inline-flex items-center leading-6 text-primary hover:underline"
                    routerLink="..">
                    <span class="inline-flex items-center">
                        <mat-icon
                            class="icon-size-5 text-current"
                            [svgIcon]="'heroicons_solid:arrow-sm-left'"></mat-icon>
                        <span class="ml-1.5 font-medium leading-5">Back to project</span>
                    </span>
                </a>
                <!-- Course category -->
                
                <!-- Course title & description -->
                <div class="mt-3 text-2xl font-semibold">{{projet?.nom_projet}}</div>
                
            </div>
            <!-- Steps -->
            <div class="py-2 px-8">  
              <ol *ngIf="projet?.axes" >
                <!-- Affichage de l'introduction -->
                <div class="relative flex items-start cursor-pointer" (click)="currentStep=0;currentAxe=null">
                 
                  <div class="flex flex-1 ml-3 ">
                  
                    <span class="rounded-full px-2" [ngClass]="{'bg-primary': 0 === currentStep}">Description</span> 
                  </div>
                  
                </div>
                <!-- Affichage des axes -->
                <ng-container *ngFor="let axe of projet.axes;; let i = index ; trackBy: trackByFn">
                  <li class="relative group py-6" [class.current-step]="i+1 === currentStep+1">
                    <ng-container >
                      <div class="absolute top-6 left-4 w-0.5 h-full -ml-px"
                           [ngClass]="{'bg-primary': i+1 < currentStep, 
                                       'bg-gray-300 dark:bg-gray-600': i+1 >= currentStep}">
                      </div>
                    </ng-container>
                    <div class="relative flex items-start cursor-pointer" 
                    (click)="currentAxe = axe;currentStep=null">
                      <div class="flex flex-0 items-center justify-center w-8 h-8 rounded-full ring-2 ring-inset ring-transparent bg-card dark:bg-default" 
                           [ngClass]="{'bg-primary ':
                                        currentAxe === axe 
                                        }">
                        <span class="text-md font-medium leading-none"  >
                          {{i+1}}
                        </span>
                      </div>
                      <div class="flex flex-1 ml-3">
                        {{axe.name}}
                        

                      </div>
                      <div>
                        <mat-spinner diameter="30" mode="determinate" [value]="calculateMeanPercentage(axe.tache)">
                        </mat-spinner>
                        {{ calculateMeanPercentage(axe.tache) }}%
                      </div>
                      
                      <div class="flex-none ml-3 text-sm">
                        <mat-icon class="icon-size-3 text-hint" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                      </div>
                    </div>
                  </li>
                </ng-container>
              </ol>
            </div>
        </mat-drawer>
        <div class="flex-auto p-8 overflow-y-auto">                              
          <div class="space-y-6">
            <div  class="container mt-5">
              <div class="card" *ngIf="currentStep===0">
                <div class="card-header bg-primary text-white">
                  <h2 class="text-2xl font-semibold">Nom du projet : {{projet.nom_projet}}</h2>
                </div>
                <div class="card-body">
                  <div class="d-flex">
                    <div class="flex-shrink-0">
                      <i class="fas fa-user text-primary fa-3x mr-3"></i>
                    </div>
                    <div class="flex-grow-1">
                      <h4 class="text-xl font-semibold">Nom du client :</h4>
                      <p class="text-gray-600">{{projet.client}}</p>
                    </div>
                  </div>
                  <div class="d-flex mt-3">
                    <div class="flex-shrink-0">
                      <i class="fas fa-info-circle text-primary fa-3x mr-3"></i>
                    </div>
                    <div class="flex-grow-1">
                      <h4 class="text-xl font-semibold">Description :</h4>
                      <p class="text-gray-600">{{projet.description}}</p>
                    </div>
                  </div>
                  <div class="d-flex mt-3">
                    <div class="flex-shrink-0">
                      <i class="fas fa-calendar text-primary fa-3x mr-3"></i>
                    </div>
                    <div class="flex-grow-1">
                      <h4 class="text-xl font-semibold">Debut du projet :</h4>
                      <p class="text-gray-600">{{projet.begin}}</p>
                    </div>
                  </div>
                  <div class="d-flex mt-3">
                    <div class="flex-shrink-0">
                      <i class="fas fa-calendar text-primary fa-3x mr-3"></i>
                    </div>
                    <div class="flex-grow-1">
                      <h4 class="text-xl font-semibold">Fin du projet :</h4>
                      <p class="text-gray-600">{{projet.end}}</p>
                    </div>
                  </div>
                  <div class="d-flex mt-3">
                    <div class="flex-shrink-0">
                      <i class="fas fa-user text-primary fa-3x mr-3"></i>
                    </div>
                    <div class="flex-grow-1">
                      <h4 class="text-xl font-semibold">Utilisateur :</h4>
                      <p class="text-gray-600">{{projet.user}}</p>
                    </div>
                  </div>
                  <div class="d-flex mt-3">
                    <div class="flex-shrink-0">
                      <i class="fas fa-map-marker-alt text-primary fa-3x mr-3"></i>
                    </div>
                    <div class="flex-grow-1">
                      <h4 class="text-xl font-semibold">Code postal :</h4>
                      <p class="text-gray-600">{{projet.code_postal}}</p>
                    </div>
                  </div>
                  <div class="d-flex mt-3">
                    <div class="flex-shrink-0">
                      <i class="fas fa-file-contract text-primary fa-3x mr-3"></i>
                    </div>
                    <div class="flex-grow-1">
                        <h4 class="text-xl font-semibold">Contrat :</h4>
                        <a class="text-danger underlined bold p-3" [href]="projet.contrat" alt="Image" target="_blank">Télécharger le contrat</a>
                    </div>
                    <!-- Step 1 actions -->
                    
                  </div>
                </div>
              </div>
            </div>
            <!--partie droit-->
            <div *ngIf="currentAxe && !currentStep" class="space-y-4">
              <!-- Step 5 content -->
              <ul class="grid grid-cols-1 gap-4">
                <li *ngFor="let t of currentAxe.tache">
                  <div class="card p-4 bg-white rounded-lg shadow">
                    <div class="card-header bg-primary text-white font-bold text-xl">{{t.name}}</div>
                    <div class="card-body grid grid-cols-2 gap-4 ">
                      <div class="flex items-center space-x-2 flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                        <mat-icon class="text-primary text-2xl" >timer </mat-icon>
                        <div class="text-gray-600 font-semibold mt-3">
                          {{t.timeslot}}
                        </div>
                      </div>
                      <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden  ">
                        <i class="fas fa-percent text-primary text-2xl">Avancement :</i>
                        <div class="progress mt-3">
                          <div class="progress-bar progress-bar-striped" role="progressbar" [style.width.%]="t.pourcentage" [attr.aria-valuenow]="t.pourcentage" aria-valuemin="0" aria-valuemax="100">
                            {{t.pourcentage}}%
                          </div>   
                        </div>
                      </div>             
                    </div>
                  </div>
                  <button class="bg-success text-white font-bold py-2 px-4 rounded-lg shadow" (click)="buttonModifierTache(t)">Ajouter une tâche</button>
                </li>
                
                <div class="flex justify-center">
                  <button class="bg-primary text-white font-bold py-2 px-4 rounded-lg shadow" (click)="buttonAjouterTache(currentAxe)">Ajouter une tâche</button>
                  
                </div>
              </ul>
            </div>                                   
          </div>
        </div>                         
    </mat-drawer-container>
</div>

    
    