<div class="w-full max-w-3xl">

    <!-- Form -->
    <form [formGroup]="securityForm">

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">changez votre mot de passe</div>
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- Current password -->
            <div class="sm:col-span-4">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Mot de passe actuel</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:key'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'currentPassword'"
                        type="password"
                        matInput>
                </mat-form-field>
            </div>
            <!-- New password -->
            <div class="sm:col-span-4">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Nouveau mot de passe</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:key'" matPrefix></mat-icon>
                    <input [formControlName]="'newPassword'" type="password" matInput>
                    <mat-error *ngIf="securityForm.get('newPassword').invalid && securityForm.get('newPassword').dirty">
                        Le mot de passe doit contenir au moins 8 caractères.
                    </mat-error>
                </mat-form-field>
            </div>
            
        </div>

        <!-- Divider -->
        <div class="my-10 border-t"></div>
        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button
                mat-stroked-button
                type="button">
                Annuler
            </button>
            <button
                class="ml-4"
                mat-flat-button
                type="button"
                [color]="'primary'"
                (click)="modifierPassword()">enregistrer
            </button>
        </div>
    </form>

</div>
