<div class="container mt-5">
    <button class="btn btn-sm btn-primary"(click)="openDialog('ajout',null)">ajouter</button>

    <div class="card">
        <div class="card-header bg-primary text-white">
            <h2 class="text-2xl font-semibold"><i class="fas fa-user-tag mr-2"></i>Liste des rôles</h2>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let role of roles">
                        <td>{{role.name}}</td>
                        <td>{{role.description}}</td>
                        <td>
                            <button class="btn btn-sm btn-success" (click)="openDialog('edit',role)">Editer</button>
                            <button class="btn btn-sm btn-danger" (click)="deleteRole(role)">Supprimer</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
