<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0 h-"

      >
        <div class="w-full max-w-full sm:w-full mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-12">
                <img src="assets/images/logo/logo.svg">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Ajouter role</div>
            <div *ngIf="data.mode == 'edit'" class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Modifier role</div>

        <form [formGroup]="ajoutRole" class="p-3" >
          <mat-form-field appearance="outline" class="form-group">
            <mat-label><mat-icon class="mr-2">person</mat-icon>Nom du rôle</mat-label>
            <input matInput formControlName="name" id="name" [class.is-invalid]="ajoutRole.controls['name'].invalid && ajoutRole.controls['name'].touched">
            <mat-error *ngIf="ajoutRole.controls['name'].invalid && ajoutRole.controls['name'].touched">
              Le nom du rôle est requis
            </mat-error>
          </mat-form-field><br>
          <mat-form-field appearance="outline" class="form-group">
            <mat-label><mat-icon class="mr-2">description</mat-icon>Description du rôle</mat-label>
            <input matInput formControlName="description" id="description" [class.is-invalid]="ajoutRole.controls['description'].invalid && ajoutRole.controls['description'].touched">
            <mat-error *ngIf="ajoutRole.controls['description'].invalid && ajoutRole.controls['description'].touched">
              La description du rôle est requise
            </mat-error>
          </mat-form-field>

          <div class="flex">
            <button
            class="fuse-mat-button-large w-full mt-6"
            mat-flat-button
            [color]="'link'"

            (click)=" onNoClick()">
           Annuler

        </button>

            <!-- Submit button -->
            <button *ngIf="data.mode !== 'edit'"
                class="fuse-mat-button-large w-full mt-6"
                mat-flat-button
                [color]="'primary'"

                (click)="ajouterRoleFunction">

                   Ajouter

            </button>

            <button *ngIf="data.mode == 'edit'"
                class="fuse-mat-button-large w-full mt-6"
                mat-flat-button
                [color]="'primary'"

                (click)="editRole()">

                    Modifier


            </button>
          </div>
        </form>
    </div>
  </div>
