<div class="container m-3">
    <div class="head mb-3">
        <button mat-fab color="primary" (click)="openDialog('ajout',null)">
            <mat-icon>add</mat-icon>
        </button>
    </div>


    <div class="card">
        <div class="card-header bg-primary text-white">
            <h2 class="text-2xl font-semibold"><i class="fas fa-user-tag mr-2"></i>Liste des rôles</h2>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let role of roles">
                        <td>{{role.name}}</td>
                        <td>{{role.description}}</td>
                        <td>

                                <mat-icon  (click)="openDialog('edit',role)">edit</mat-icon>

                                <mat-icon class="text-red" (click)="deleteRole(role)">delete</mat-icon>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
